.bodyy{
    background-image: url("foto.jpg");
    display:flex;
    padding-inline-start: 350px;
}
.botaocadastro{
    background-color: rgb(117, 249, 94);
    font-size: 25px;
    padding: 20px;
    color: black;
}
.titulo{
    font-size: 50px;
    padding: 25px;
    background-color: rgba(107, 78, 34, 0.835);
}
.botao1{
    font-size: 50px;
    background-color: rgb(117, 249, 94);
}
.botao2{
    font-size: 50px;
    padding-inline-start: 87px;
    padding-inline-end: 87px;
    background-color: rgb(117, 249, 94);
}